  <%= link_to instrument_path(instrument) do %>
  <div class="card">
    <div class="card-picture">
      <% if instrument.photos.attached? %>
      <%= cl_image_tag(instrument.photos.first.key, class: "photo-size")%>
      <% else %>
      <%= image_tag("logo.png", class: "photo-size") %>
      <% end %>
    </div>
    <div class="card-description">
      <div class="card-name">
        <p><%= instrument.name %></p>
      </div>
      <div class="card-price">
        <p class="mb-0">Cost/Day</p>
        <p><%=  instrument.price %><i class="euro-sign fas fa-euro-sign"></i></p>
      </div>
    </div>
  </div>
  <% end %>
