<br>
  <div class="container">
    <div class="form-new-instrument">
      <h3>Do you want to add a new instrument?</h3>
      <%= simple_form_for(@instrument) do |f| %>
      <%= f.input :name %>
      <%= f.association :category%>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :availability %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit id:"submit-new-form" %>
        <% end %>
      </div>
    </div>
