
<!--     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav> -->
    <!-- tiny change -->
    <br>
    <div class="container">
        <h3><strong><%= @instrument.name %></strong></h3>
        <div class="d-flex align-items-center">
          <i class="fas fa-map-marker-alt" style="margin-bottom: 10px"></i>
          <h6 class="ml-3 mt-0"><%= @instrument.address %></h6>
        </div>
      <div class="row pictures-display">
        <div class="col-6 px-0">
          <%= cl_image_tag @instrument.photos[0].key, class:"h-100 w-100", style:"border-top-left-radius: 20px; border-bottom-left-radius: 20px" %>
        </div>
        <div class="col-3 px-0" style="max-height: 410px">
          <%= cl_image_tag @instrument.photos[1].key, class:"h-50 w-100" %>
          <%= cl_image_tag @instrument.photos[2].key, class:"h-50 w-100" %>
        </div>
        <div class="col-3 px-0" style="max-height: 410px">
          <%= cl_image_tag @instrument.photos[3].key, class:"h-50 w-100", style:"border-top-right-radius: 20px" %>
          <%= cl_image_tag @instrument.photos[4].key, class:"h-50 w-100", style:"border-bottom-right-radius: 20px" %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="instrument-details d-flex justify-content-between">
        <div class="p-2 w-50">
          <div class="content-top d-flex justify-content-between align-items-center pb-2 border-bottom border-secondary mb-2">
            <h5><strong><%= @instrument.name %></strong></h5>
            <div class="content-top-right d-flex align-items-center">
              <h6 class="m-2"><%= @owner.full_name %></h6>
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="align-self-start mr-3 avatar" alt="...">
            </div>
          </div>
            <p><strong>Instrument details</strong> </p>
            <p><%= @instrument.description %> Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus dolores, ipsa nulla sit ratione eligendi eos exercitationem error provident! </p>
        </div>
        <div class="p-2 w-50" id="right-flex"><div class="d-flex justify-content-end"><%= render 'bookings/form' %></div></div>
      </div>
    </div>
